<nav>
    <div class="site-title">
        <a href="/">blog</a>
    </div>
    <ul>
        <li><a href="/">blog</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">new blogs</a></li>
    </ul>
</nav>