<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>about us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda alias debitis illum eaque sequi, nam obcaecati ad quisquam ullam quae aliquam molestias et quia iusto saepe itaque eius autem quis!</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>